$info:#D8D8D8;

.footer{
    position: relative;

    bottom: 175px;

    &__container{
        display: flex;
        height: 90px;
        justify-content: space-around;
        align-items: center;
        background-color: #222F33;
        @media all and (max-width:530px){
            display: grid;
            padding: 20px;
            height: 150px;
        }
    }
    &__mail{
        @media all and (max-width:530px){
        padding-bottom: 10px;
        }
        a{
            color: $info;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &__logo{
        @media all and (max-width:530px){
            padding-bottom: 10px;
            }
    }
    &__info{
        @media all and (max-width:530px){
            padding-bottom: 10px;
            }
        a{
            padding-right: 10px;
            color: $info;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}