.main{
    display: flex;
    padding: 0px 105px;
    @media all and (max-width:767px){
        display: grid;
        padding: 0px 80px;
    }
}
// .main__hero{

// }
.main__info{
    max-width: 440px;
    margin-right: 130px;
    @media all and (max-width:767px){
        margin-right: 0px;   
    }
        h1{
            color: #ffffff;
            padding-bottom: 12px;
        }
        p{
            color: #ffffff;
            font-size: 31px;
            font-weight: 400;
            line-height: 36px;
            @media all and (max-width:767px){
                font-size: 18px;
                line-height: 28px;
                margin-right: 0px;
                margin-bottom: 65px;
            }
        }
}
.main__film{
    display: flex;
        a{
            display: flex;
            align-items: center;
            color: #ffffff;
            &:hover{
                text-decoration: underline;
            }
            @media all and (max-width:767px){
                margin-bottom: 85px;
            }
        }
}

//-------- bloc-2 ------//
.bloc-2{
    display: flex;
    position: relative;
    z-index: 2;
    @media all and (max-width:767px){
        display: block;
    }
}
.material__container{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    align-items: center;
    padding: 0px 100px;
    @media all and (max-width:1023px) {
        padding: 0px 50px;
    }
}

.material__content{
    margin: 20px 0px;
     h2{
            font-size: 31px;
            font-weight: 400;
            line-height: 36px;
            padding-bottom: 13px;
            @media all and (max-width:1023px) {
                font-size: 18px;
                line-height: 28px;
            }
     }
     p{
        line-height: 26px;
        padding-bottom: 13px;
        @media all and (max-width:1023px) {
            line-height: 23px;
            text-align: justify;
        }
     }
     button{
        width: 90px;
        height: 35px;
        border-radius: 4px; 
        border: 1px solid #000000;

        background-color: #ffffff;
        transition-duration: 0.4s;
        &:hover{
            box-shadow: 0 rgba(0,0,0,0.24), 0 rgba(0,0,0,0.19);
            color: #ffffff;
            background-color: #606B74;
          }
    }
}

.materials__foto{
    width: 325px;
    height: 366px;

    position: relative;
    bottom: 100px;
    right: 40px;
    @media all and (max-width:767px){
        bottom: 0px;
        right: 0px;
        padding: 30px;  
    }
}

.swiper {
    overflow: hidden;
}

.swiper-initialized {
    touch-action: pan-y;
}
.swiper-wrapper{
    display: flex;
    box-sizing: content-box;
}
.swiper-slide{
    flex-shrink: 0;
    
}
.swiper-img{
    background-color: #fff;
    width: 325px;
    height: 366px;
}

.swiper-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 16px;
    flex-wrap: wrap;
    gap: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.swiper-pagination-bullet{
    flex: 0 0 0.5rem;
    height: 0.5rem;
    background-color: #fff;
    opacity: 0.4;
    border-radius: 50%; 

    &-active{
        opacity: 1;
    }
}

//-------- bloc-3 ------//
.bloc-3{
    position: relative;
    background-color: #222F33;
    bottom: 175px;
}
.bloc-3__container{
    display: flex;
    padding: 230px 95px 75px;
    @media all and (max-width:767px){
        padding: 230px 50px 30px;
        text-align: center;
    }
}
.bloc-3__innovatie{
    display: block;
    
    h2{
        color: #ffffff;
        font-size: 31px;
        font-weight: 400;
        line-height: 36px;
        padding-bottom: 13px;
    }
    p{
        color: #ffffff;
        line-height: 26px;
        padding-bottom: 13px;

        column-count: 2;
        column-width: 385px;
        column-gap: 40px;
    }
}

//---------bloc-4-------//

.bloc-4{
    display: flex;
    position: relative;
    bottom: 175px;

    @media all and (max-width:767px){
        display: block;
    }
}

.bloc-4__img{
    padding: 85px 75px 10px;
    margin-bottom: 40px;
    @media all and (max-width:767px){
        display: flex;
        justify-content: center;
        
        padding: 30px 10px 10px;
        margin-bottom: 0px;
    }
    img{
        @media (min-width:425px) and (max-width:767px){
            width: 50%;
        }
        @media all and (max-width:424px){
            width: 100%;
        }
    }
    
}

.bloc-4__list-info{
    display: grid;
    grid-template-columns: auto;
    padding: 80px 40px 10px 0px;
    @media all and (max-width:767px){
        padding: 30px 40px 10px 75px;
    }
    
}

.bloc-4__ul{
    column-count: 2;
    column-width: 125px;
    @media all and (max-width:767px){
        text-align: center;
    }
}

.bloc-4__list{
    padding: 0px 0px 27px 0px;

    h2{
        white-space: nowrap;
        color: #222f33;
        font-family: Merriweather;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 20px;
        padding-bottom: 8px;
    }
    p{
        color: #646D70;
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
    }
}