@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header__container {
  height: 600px;
  background-image: url(../images/Background1.png);
  background-size: cover;
}
@media all and (max-width: 767px) {
  .header__container {
    height: auto;
  }
}

.header__menu {
  display: flex;
  margin-bottom: 120px;
  padding: 35px 100px;
  justify-content: space-between;
}
.header__menu img {
  margin-right: 40px;
}
@media all and (max-width: 1024px) {
  .header__menu {
    padding: 35px 80px;
    margin-bottom: 80px;
  }
}
@media all and (max-width: 767px) {
  .header__menu {
    padding: 20px 50px;
    margin-bottom: 40px;
  }
}

.header__nav {
  display: flex;
}

.header__ul {
  display: flex;
}
@media all and (max-width: 767px) {
  .header__ul {
    display: grid;
    justify-content: center;
  }
}

.header__li {
  display: flex;
  align-items: center;
  padding-right: 40px;
}
@media all and (max-width: 767px) {
  .header__li {
    justify-content: center;
    padding: 20px;
  }
}
.header__li a {
  color: #ffffff;
}
.header__li a:hover {
  text-decoration: underline;
}

.header__button {
  width: 90px;
  height: 35px;
  border-radius: 4px;
  color: #606B74;
  background-color: #ffffff;
  border: hidden;
  transition-duration: 0.4s;
}
.header__button:hover {
  box-shadow: 0 rgba(0, 0, 0, 0.24), 0 rgba(0, 0, 0, 0.19);
  color: #ffffff;
  background-color: #606B74;
}
@media all and (max-width: 767px) {
  .header__button {
    margin: 0px auto;
  }
}

.main {
  display: flex;
  padding: 0px 105px;
}
@media all and (max-width: 767px) {
  .main {
    display: grid;
    padding: 0px 80px;
  }
}

.main__info {
  max-width: 440px;
  margin-right: 130px;
}
@media all and (max-width: 767px) {
  .main__info {
    margin-right: 0px;
  }
}
.main__info h1 {
  color: #ffffff;
  padding-bottom: 12px;
}
.main__info p {
  color: #ffffff;
  font-size: 31px;
  font-weight: 400;
  line-height: 36px;
}
@media all and (max-width: 767px) {
  .main__info p {
    font-size: 18px;
    line-height: 28px;
    margin-right: 0px;
    margin-bottom: 65px;
  }
}

.main__film {
  display: flex;
}
.main__film a {
  display: flex;
  align-items: center;
  color: #ffffff;
}
.main__film a:hover {
  text-decoration: underline;
}
@media all and (max-width: 767px) {
  .main__film a {
    margin-bottom: 85px;
  }
}

.bloc-2 {
  display: flex;
  position: relative;
  z-index: 2;
}
@media all and (max-width: 767px) {
  .bloc-2 {
    display: block;
  }
}

.material__container {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  align-items: center;
  padding: 0px 100px;
}
@media all and (max-width: 1023px) {
  .material__container {
    padding: 0px 50px;
  }
}

.material__content {
  margin: 20px 0px;
}
.material__content h2 {
  font-size: 31px;
  font-weight: 400;
  line-height: 36px;
  padding-bottom: 13px;
}
@media all and (max-width: 1023px) {
  .material__content h2 {
    font-size: 18px;
    line-height: 28px;
  }
}
.material__content p {
  line-height: 26px;
  padding-bottom: 13px;
}
@media all and (max-width: 1023px) {
  .material__content p {
    line-height: 23px;
    text-align: justify;
  }
}
.material__content button {
  width: 90px;
  height: 35px;
  border-radius: 4px;
  border: 1px solid #000000;
  background-color: #ffffff;
  transition-duration: 0.4s;
}
.material__content button:hover {
  box-shadow: 0 rgba(0, 0, 0, 0.24), 0 rgba(0, 0, 0, 0.19);
  color: #ffffff;
  background-color: #606B74;
}

.materials__foto {
  width: 325px;
  height: 366px;
  position: relative;
  bottom: 100px;
  right: 40px;
}
@media all and (max-width: 767px) {
  .materials__foto {
    bottom: 0px;
    right: 0px;
    padding: 30px;
  }
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  touch-action: pan-y;
}

.swiper-wrapper {
  display: flex;
  box-sizing: content-box;
}

.swiper-slide {
  flex-shrink: 0;
}

.swiper-img {
  background-color: #fff;
  width: 325px;
  height: 366px;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 16px;
  flex-wrap: wrap;
  gap: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet {
  flex: 0 0 0.5rem;
  height: 0.5rem;
  background-color: #fff;
  opacity: 0.4;
  border-radius: 50%;
}
.swiper-pagination-bullet-active {
  opacity: 1;
}

.bloc-3 {
  position: relative;
  background-color: #222F33;
  bottom: 175px;
}

.bloc-3__container {
  display: flex;
  padding: 230px 95px 75px;
}
@media all and (max-width: 767px) {
  .bloc-3__container {
    padding: 230px 50px 30px;
    text-align: center;
  }
}

.bloc-3__innovatie {
  display: block;
}
.bloc-3__innovatie h2 {
  color: #ffffff;
  font-size: 31px;
  font-weight: 400;
  line-height: 36px;
  padding-bottom: 13px;
}
.bloc-3__innovatie p {
  color: #ffffff;
  line-height: 26px;
  padding-bottom: 13px;
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-width: 385px;
       column-width: 385px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.bloc-4 {
  display: flex;
  position: relative;
  bottom: 175px;
}
@media all and (max-width: 767px) {
  .bloc-4 {
    display: block;
  }
}

.bloc-4__img {
  padding: 85px 75px 10px;
  margin-bottom: 40px;
}
@media all and (max-width: 767px) {
  .bloc-4__img {
    display: flex;
    justify-content: center;
    padding: 30px 10px 10px;
    margin-bottom: 0px;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .bloc-4__img img {
    width: 50%;
  }
}
@media all and (max-width: 424px) {
  .bloc-4__img img {
    width: 100%;
  }
}

.bloc-4__list-info {
  display: grid;
  grid-template-columns: auto;
  padding: 80px 40px 10px 0px;
}
@media all and (max-width: 767px) {
  .bloc-4__list-info {
    padding: 30px 40px 10px 75px;
  }
}

.bloc-4__ul {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-width: 125px;
       column-width: 125px;
}
@media all and (max-width: 767px) {
  .bloc-4__ul {
    -moz-column-count: 1;
         column-count: 1;
    -moz-column-width: 125px;
         column-width: 125px;
    text-align: center;
  }
}

.bloc-4__list {
  padding: 0px 0px 27px 0px;
}
@media all and (max-width: 767px) {
  .bloc-4__list {
    padding: 0px 0px 15px 0px;
  }
}
.bloc-4__list h2 {
  white-space: nowrap;
  color: #222f33;
  font-family: Merriweather;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 20px;
  padding-bottom: 8px;
}
.bloc-4__list p {
  color: #646D70;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
}

.footer {
  position: relative;
  bottom: 175px;
}
.footer__container {
  display: flex;
  height: 90px;
  justify-content: space-around;
  align-items: center;
  background-color: #222F33;
}
@media all and (max-width: 530px) {
  .footer__container {
    display: grid;
    padding: 20px;
    height: 150px;
  }
}
@media all and (max-width: 530px) {
  .footer__mail {
    padding-bottom: 10px;
  }
}
.footer__mail a {
  color: #D8D8D8;
}
.footer__mail a:hover {
  text-decoration: underline;
}
@media all and (max-width: 530px) {
  .footer__logo {
    padding-bottom: 10px;
  }
}
@media all and (max-width: 530px) {
  .footer__info {
    padding-bottom: 10px;
  }
}
.footer__info a {
  padding-right: 10px;
  color: #D8D8D8;
}
.footer__info a:hover {
  text-decoration: underline;
}

@media all and (max-width: 767px) {
  /* Гамбургер іконка */
  .menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
  }
  .menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    transition: all 0.5s;
  }
  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
  }
  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }
  /* Змінюємо гамбургер іконку, коли меню відчинено */
  .menu-btn.active {
    position: fixed;
    z-index: 11;
  }
  .menu-btn.active span:nth-of-type(1) {
    display: none;
  }
  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
  /* Меню, яке буде зʼявлятися */
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: #222f33;
    transform: translateX(-100%);
    transition: transform 0.5s;
  }
  .menu.active {
    transform: translateX(0);
    z-index: 10;
  }
  .menu li {
    list-style-type: none;
  }
}
body {
  margin: auto;
  font-family: Rubik;
}

.container {
  max-width: 1000px;
  margin: auto;
}/*# sourceMappingURL=style.css.map */