@import 'normalize.scss';
@import 'header.scss';
@import 'main.scss';
@import 'footer.scss';
@import 'menu.scss';

body{
    margin: auto;
    font-family: Rubik;
}

.container{
    max-width: 1000px;
    margin: auto;
}